<div class = "hero min-h-screen bg-yellow-200">
  <div class= "hero-content flex-col lg:flex-row-reverse">
    <div>
      <h1 class="sm:text_2xl md:text-4xl font-bold"><%= "りふれっ酒" %></h1>
      <p class="py-6"><%= "二日酔いで苦しんでいませんか？" %><br>
      <%= ""%><br>
      <%= ""%><br>
      </p>
      <button class="btn btn-primary">
        <%= link_to 'はじめてみる', "#"  %>
      </button>
      <button class="btn btn-primary ml-4">
        <%= link_to '投稿一覧を見る', "#"  %>
      </button>
    </div>
  </div>
</div>