<div class = "hero min-h-screen bg-base-100">
  <div class= "hero-content flex-col lg:flex-row-reverse">
    <%= image_tag "refresh.jpg" %>
    <div>
      <h1 class="text-5xl font-bold"><%= "りふれっ酒" %></h1>
      <p class="py-6"><%= "二日酔いで困ってませんか？"%><br>
      <%= "飲み過ぎて朝から気持ち悪い...そんな時どうしたら良いか"%><br>
      <%= "みんなの投稿を見ていち早く回復しよう"%>
      </p>
      <button class="btn btn-primary">
        <%= link_to '投稿一覧を見る', posts_path%>
      </button>
    </div>
  </div>
</div>